<% for home in @homes %>
      <tr>
        <td><%= image_tag(home.image_url(:thumbnail), :width => 50, :height => 50)%></td>
        <td><%= home.address %></td>
        <td><%= home.rate %></td>
        <td><%= home.description %></td>
      </tr>
<% end %>