<% for home in @homes %>

<a href="/homes/#{home.id}">
      <tr>
        <td>
        <% if home.photos.exists? %>
        	<%= image_tag(home.photos.first.image_url(:thumbnail), :width => 50, :height => 50)%>
        <% else %>
        	No Image
        <% end %>
        </td>
        <td><%= home.address %></td>
        <td><%= home.rate %></td>
        <td><%= home.description %></td>
      </tr>
      </a>
<% end %>