<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="shadowme">
			<h1 class="text-center">Editing Photo</h1>

			<%= render 'form' %>
			<br>
			<%= link_to 'Back', photos_path %>
		</div>
	</div>
</div>